body {
	background-color: #B2E9FD;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

.movie-title {
	padding: 5px;
	display: inline-block;
}

.year {
	font-size: 1rem;
	float: right;
	background-color: darkblue;
	color: white;
	padding: 3px;
}

.card-body {
	background-color: white;
}
