body {
	background-color: #B2E9FD;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

.movie-title {
	display: inline-block;
	padding: 5px;
}

.year {
	padding: 5px;
	float: right;
	background-color: darkblue;
	color: white;
}

.card-img-bottom {
	padding: 10px 20px;
}

img.card-img-bottom {
	width: 294px;
	height: 436px;
}



